// FILTRI

.filter__box {
    max-height: 6rem;
    margin: auto 2rem;
    padding: auto 2rem;
    max-width: 90%;

    &--elements{
        display: flex;
        justify-content: flex-start;
        gap: 2rem;
        margin-top: 2rem;
    }
   


}
.filter{
    display: flex;
   flex-direction: row;
    align-items: center;
    gap: .5rem;
    padding: 1rem;
    color: $color-grey-light;
    transition-duration: 200ms;
    font-size: 2rem;
    
   


    &:hover{
    color: $color-grey-dark;  
    border-bottom: $border-light;

   

    }
}