.footer {
   
    background-color: $color-grey-light-2;
    padding: 4rem;
    font-size: 1rem;
    border-top: $border-dark;
   
    //position: sticky;
   // bottom: 0;
    // max-height: 2rem;
   &__scritte{
    display: flex;
    justify-content: center;
    gap: 1rem;
   }

    &__icons {
        font-size: 1.2rem;
        color: $color-grey-light;
        display: inline-block;
     
        
        :hover {
        color: $color-primary;
        }

    }
}