.accomodation__card {
    margin: 1rem;
    
    overflow: hidden;
    cursor: pointer;

    & h2 {
        color: $color-grey-dark;

    }

    & p {
        color: $color-grey-light;
        
    }

    &--all{
    display: flex;
    flex-direction: row;
    }

    &--left{
        display: flex;
        flex-direction: column;
    }

    .accomodation__list {
        display: flex;
        padding: 3rem;

    }

    &--right{

    }
   

    &:hover{
        transform: scale(1.05);
    }
}

.accomodation__image {
    object-fit: fill;
    min-width: 30rem;
    min-height: 20rem;
    width: 100%;
    border-radius: 1rem;
} 