@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;800&display=swap");
*,
*::before,
*::after {
  /*  Il pseudo-elemento consentono di inserire contenuto HTML prima/dopo il contenuto dell'elemento principale.*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*dimensioni complessive dell'elemento includeranno il padding e il bordo */ }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

html {
  font-size: 10px;
  /*Importo la 'root' dimensione del font nel tag HTML, posso così usare dimensioni relative nel resto del file.*/ }

/* Impostazioni font*/
body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #484848;
  padding: 3rem; }

/* Navbar */
.navbar {
  max-height: 6rem;
  display: flex;
  border-bottom: 1px solid #f7f7f7;
  /* Logo */
  /* Barra di ricerca */
  /* Destra */ }
  .navbar .header__logo {
    max-height: 2.5rem; }
  .navbar--middle {
    display: flex;
    background-color: #fff; }
  .navbar--right {
    display: flex; }
